campus-reserva/n8n-workflows/3-monitor-changes.json
{
  "name": "3. Monitor Changes - Campus Reservas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  r.id,\n  r.espaco_id,\n  r.google_calendar_event_id,\n  r.solicitante_nome,\n  r.solicitante_email,\n  r.data_reserva,\n  r.hora_inicio,\n  r.hora_fim,\n  r.atualizado_em,\n  e.nome as espaco_nome,\n  e.google_calendar_id\nFROM reservas.reservas r\nINNER JOIN reservas.espacos_fisicos e ON r.espaco_id = e.id\nWHERE r.status = 'confirmada'\n  AND r.data_reserva >= CURRENT_DATE\n  AND r.google_calendar_event_id IS NOT NULL\nORDER BY r.data_reserva, r.hora_inicio\nLIMIT 50",
        "options": {}
      },
      "id": "postgres-get-reservations",
      "name": "PostgreSQL - Get Active Reservations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": "={{ $json.google_calendar_id }}",
        "eventId": "={{ $json.google_calendar_event_id }}",
        "options": {
          "timeZone": "America/Belem"
        }
      },
      "id": "google-calendar-get-event",
      "name": "Google Calendar - Get Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const dbReservation = $('Split In Batches').item.json;\nconst calendarEvent = $json;\n\n// Se o evento não foi encontrado ou foi cancelado\nif (!calendarEvent || calendarEvent.status === 'cancelled') {\n  return {\n    json: {\n      action: 'cancelled',\n      reservationId: dbReservation.id,\n      spaceName: dbReservation.espaco_nome,\n      requesterEmail: dbReservation.solicitante_email,\n      requesterName: dbReservation.solicitante_nome,\n      date: dbReservation.data_reserva,\n      startTime: dbReservation.hora_inicio,\n      endTime: dbReservation.hora_fim\n    }\n  };\n}\n\n// Verificar se horário foi alterado\nconst dbDate = dbReservation.data_reserva.split('T')[0];\nconst dbStart = `${dbDate}T${dbReservation.hora_inicio}`;\nconst dbEnd = `${dbDate}T${dbReservation.hora_fim}`;\n\nconst calendarStart = calendarEvent.start.dateTime || calendarEvent.start.date;\nconst calendarEnd = calendarEvent.end.dateTime || calendarEvent.end.date;\n\n// Normalizar para comparação\nconst normalizeDateTime = (dt) => {\n  if (!dt) return '';\n  return dt.replace(/[-:]/g, '').substring(0, 12);\n};\n\nif (normalizeDateTime(calendarStart) !== normalizeDateTime(dbStart) || \n    normalizeDateTime(calendarEnd) !== normalizeDateTime(dbEnd)) {\n  return {\n    json: {\n      action: 'modified',\n      reservationId: dbReservation.id,\n      spaceName: dbReservation.espaco_nome,\n      requesterEmail: dbReservation.solicitante_email,\n      requesterName: dbReservation.solicitante_nome,\n      oldDate: dbReservation.data_reserva,\n      oldStartTime: dbReservation.hora_inicio,\n      oldEndTime: dbReservation.hora_fim,\n      newStart: calendarStart,\n      newEnd: calendarEnd\n    }\n  };\n}\n\n// Sem alterações\nreturn { json: { action: 'no_change' } };"
      },
      "id": "function-compare",
      "name": "Compare States",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "notEqual",
              "value2": "no_change"
            }
          ]
        }
      },
      "id": "if-has-changes",
      "name": "IF Has Changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "cancelled"
            }
          ]
        }
      },
      "id": "if-cancelled",
      "name": "IF Cancelled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE reservas.reservas \nSET status = 'cancelada',\n    cancelado_em = NOW(),\n    motivo_cancelamento = 'Cancelado via Google Calendar'\nWHERE id = {{ $json.reservationId }}\nRETURNING *",
        "options": {}
      },
      "id": "postgres-update-cancelled",
      "name": "PostgreSQL - Update Cancelled",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1650, 100],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE reservas.reservas \nSET data_reserva = DATE('{{ $json.newStart }}'),\n    hora_inicio = TIME('{{ $json.newStart }}'),\n    hora_fim = TIME('{{ $json.newEnd }}')\nWHERE id = {{ $json.reservationId }}\nRETURNING *",
        "options": {}
      },
      "id": "postgres-update-modified",
      "name": "PostgreSQL - Update Modified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const change = $('Compare States').item.json;\n\nconst formatDate = (dateStr) => {\n  const date = new Date(dateStr);\n  return date.toLocaleDateString('pt-BR', { \n    weekday: 'long', \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric' \n  });\n};\n\nconst formatTime = (timeStr) => {\n  if (!timeStr) return '';\n  if (timeStr.includes('T')) {\n    const date = new Date(timeStr);\n    return date.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n  }\n  return timeStr.substring(0, 5);\n};\n\nlet subject, html;\n\nif (change.action === 'cancelled') {\n  subject = `❌ Reserva Cancelada - ${change.spaceName}`;\n  html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; }\n    .header { background: #dc2626; color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; background: #fee2e2; }\n    .info-box { background: white; padding: 20px; margin: 15px 0; border-radius: 8px; border-left: 5px solid #dc2626; }\n    .label { font-weight: 700; color: #991b1b; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>❌ Reserva Cancelada</h1>\n    </div>\n    <div class=\"content\">\n      <p>Olá, <strong>${change.requesterName}</strong>,</p>\n      <p>Informamos que sua reserva foi <strong>cancelada</strong> no Google Calendar:</p>\n      <div class=\"info-box\">\n        <p><span class=\"label\">Espaço:</span> ${change.spaceName}</p>\n        <p><span class=\"label\">Data:</span> ${formatDate(change.date)}</p>\n        <p><span class=\"label\">Horário:</span> ${formatTime(change.startTime)} às ${formatTime(change.endTime)}</p>\n      </div>\n      <p><strong>Se você não realizou este cancelamento, entre em contato conosco imediatamente.</strong></p>\n      <p>Email: <a href=\"mailto:reservas@campus.br\">reservas@campus.br</a></p>\n    </div>\n  </div>\n</body>\n</html>\n  `;\n} else if (change.action === 'modified') {\n  subject = `🔄 Reserva Modificada - ${change.spaceName}`;\n  html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; }\n    .header { background: #f59e0b; color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; background: #fef3c7; }\n    .info-box { background: white; padding: 20px; margin: 15px 0; border-radius: 8px; }\n    .old { border-left: 5px solid #dc2626; }\n    .new { border-left: 5px solid #10b981; }\n    .label { font-weight: 700; }\n    h3 { margin-top: 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🔄 Reserva Modificada</h1>\n    </div>\n    <div class=\"content\">\n      <p>Olá, <strong>${change.requesterName}</strong>,</p>\n      <p>Sua reserva foi <strong>modificada</strong> no Google Calendar:</p>\n      \n      <div class=\"info-box old\">\n        <h3>❌ Dados Anteriores:</h3>\n        <p><span class=\"label\">Data:</span> ${formatDate(change.oldDate)}</p>\n        <p><span class=\"label\">Horário:</span> ${formatTime(change.oldStartTime)} às ${formatTime(change.oldEndTime)}</p>\n      </div>\n      \n      <div class=\"info-box new\">\n        <h3>✅ Novos Dados:</h3>\n        <p><span class=\"label\">Data:</span> ${formatDate(change.newStart)}</p>\n        <p><span class=\"label\">Horário:</span> ${formatTime(change.newStart)} às ${formatTime(change.newEnd)}</p>\n      </div>\n      \n      <p><strong>Se você não realizou esta modificação, entre em contato conosco.</strong></p>\n      <p>Email: <a href=\"mailto:reservas@campus.br\">reservas@campus.br</a></p>\n    </div>\n  </div>\n</body>\n</html>\n  `;\n}\n\nreturn {\n  json: {\n    to: change.requesterEmail,\n    subject,\n    html,\n    reservationId: change.reservationId,\n    action: change.action\n  }\n};"
      },
      "id": "function-prepare-notification",
      "name": "Prepare Notification Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "fromEmail": "reservas@campus.br",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-notification-email",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2050, 200],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reservas.notificacoes (\n  reserva_id,\n  destinatario_email,\n  tipo,\n  assunto,\n  corpo,\n  enviado,\n  enviado_em\n) VALUES (\n  {{ $('Prepare Notification Email').item.json.reservationId }},\n  '{{ $('Prepare Notification Email').item.json.to }}',\n  '{{ $('Prepare Notification Email').item.json.action }}',\n  '{{ $('Prepare Notification Email').item.json.subject }}',\n  '{{ $('Prepare Notification Email').item.json.html }}',\n  TRUE,\n  NOW()\n)",
        "options": {}
      },
      "id": "postgres-log-notification",
      "name": "PostgreSQL - Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2250, 200],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Changes - Continue",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Schedule - Every 15 minutes": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Active Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Active Reservations": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Google Calendar - Get Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Get Event": {
      "main": [
        [
          {
            "node": "Compare States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare States": {
      "main": [
        [
          {
            "node": "IF Has Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Changes": {
      "main": [
        [
          {
            "node": "IF Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes - Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cancelled": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL - Update Modified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Cancelled": {
      "main": [
        [
          {
            "node": "Prepare Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Modified": {
      "main": [
        [
          {
            "node": "Prepare Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification Email": {
      "main": [
        [
          {
            "node": "Send Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification Email": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Log Notification": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes - Continue": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "3",
  "id": "3",
  "meta": {
    "instanceId": "campus-reservas"
  },
  "tags": []
}
